ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
}
li {
    width: max-content;
    height: max-content;
    background-color:khaki;
    display: flex;
    justify-content: center;
    align-items: center;
}
header, footer {
    align-self: stretch;
    background-color: lightgreen;
}